.image-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 0.063rem solid #DEDEDE;
    border-radius: 0.313rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.938rem;
    padding-left: 1.25rem;
    padding-right: 1.5rem;
    max-width: 28.688rem;
    width: 100%;
    @media (max-width: 500px){
        padding-top: 0.5rem;
        padding-left: 0.8rem;
        padding-bottom: 0.8rem;
    }
    h5{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.063rem;
        line-height: 1rem;
        outline: none;
        border: 2px solid white;
        letter-spacing: -0.02em;
        color: #6E768A;
        padding-bottom: 0.313rem;
        @media (max-width: 500px){
            font-size: 0.613rem;
            line-height: unset;
            padding-bottom: 0;
        }
    }
    &__input-two{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.063rem;
        display: block;
        outline: none;
        border: 2px solid white;
        line-height: 1.313rem;
        letter-spacing: -0.02em;
        color: #1E1E1E;
        @media (max-width: 500px){
            line-height: unset;
            font-size: 0.8rem;
        }
    }
    &__input-two::placeholder{
        color: black;
    }
    &__image{
        @media (max-width: 500px){
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}

.show-content{
    padding-top: 0.938rem;
    padding-bottom: 1rem;
    @media (max-width: 500px){
        padding-top: 0.538rem;
        padding-bottom: 0.7rem;
    }
}

.show-content__input-two{
    display: block;
    transition: ease-in-out 0.3s;
    @media (max-width: 500px){
        font-size: 0.6rem;
    }
}

.show-content h5{
    transform: translateY(-0.313rem);
    font-size: 0.813rem;
    @media (max-width: 500px){
        transform: translateY(-0.19rem);
        font-size: 0.5rem;
    }
}