.constant-placeholder{                     
    background: #FFFFFF;
    border: 0.063rem solid #DEDEDE;
    border-radius: 0.313rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.938rem;
    padding-left: 1.25rem;
    @media (max-width: 500px){
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0.8rem;
    }
    h5{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 0.813rem;
        line-height: 1rem;
        outline: none;
        border: 2px solid white;
        letter-spacing: -0.02em;
        color: #6E768A;
        padding-bottom: 0.313rem;
        @media (max-width: 500px){
            font-size: 0.613rem;
            line-height: unset;
            padding-bottom: 0;
        }
    }
    &__input-two{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.063rem;
        display: block;
        outline: none;
        border: 2px solid white;
        line-height: 1.313rem;
        letter-spacing: -0.02em;
        color: #1E1E1E;
        @media (max-width: 500px){
            line-height: unset;
            font-size: 0.8rem;
        }
    }
    &__input-two::placeholder{
        color: black;
    }
}
