.task3{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 35rem;
        @media (max-width: 1024px){
            padding: 0 3rem;
        }
        @media (max-width: 600px){
            padding: unset;
        }
        h3{
            color: #1E1E1E;
            font-weight: 400;
            font-size: 2.188rem;
            text-align: center;
            margin-top: 3.625rem;
            margin-bottom: 2.425rem;
            @media (max-width: 500px){
                font-size: 1.5rem;
                margin-top: 1.5rem;
                margin-bottom: 1.425rem;
            }
        }
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 0.25rem 2.125rem rgba(0, 0, 0, 0.05);
            border-radius: 0.625rem;
            max-width: 34.938rem;
            padding: 1.625rem 0 2.5rem;
            margin-bottom: 23.125rem;
            @media (max-width: 1024px){
                padding-left: 3rem;
                padding-right: 3rem;
            }
            @media (max-width: 600px){
                margin-left: 3rem;
                margin-right: 3rem;
            }
            @media (max-width: 500px){
                margin-bottom: 2.25rem;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            &__image{
                padding-bottom: 0.125rem;
                @media (max-width: 500px){
                    width: 6.25rem;
                    height: 6.25rem;
                }
            }
            h4{
                font-weight: 400;
                color: #1E1E1E;
                font-size: 2.188rem;
                line-height: 2.813rem;
                letter-spacing: -0.04em;
                text-align: center;
                padding-bottom: 0.875rem;
                @media (max-width: 1024px){
                    padding-bottom: 1rem;
                }
                @media (max-width: 600px){
                    font-size: 1.588rem;
                    line-height: 1.813rem;
                }
                @media (max-width: 500px){
                    font-size: 1.5rem;
                    padding-bottom: 0.7rem;
                }
            }
            h6{
                font-family: 'Lexend';
                font-weight: 400;
                font-size: 1.063rem;
                margin-bottom: 1.75rem;
                line-height: 1.313rem;
                text-align: center;
                letter-spacing: -0.02em;
                color: #6E768A;
                @media (max-width: 1024px){
                    font-size: 1rem;
                    line-height: 1rem;
                }
                @media (max-width: 768px){
                    font-size: 0.8rem;
                    margin-bottom: 1rem;
                }
            }
            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 28.688rem;
                width: 100%;
                height: 4.313rem;
                color: white;
                margin-top: 0.688rem;
                background: #1E1E1E;
                border-radius: 0.313rem;
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 400;
                font-size: 1.063rem;
                line-height: 1.313rem;
                text-align: center;
                letter-spacing: -0.02em;
                cursor: pointer;
                @media (max-width: 500px){
                    height: 3rem;
                    margin-top: 0;
                    font-size: 0.8rem;
                }
            }
        }
    }
}