.tasks-page{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 35rem;
        @media (max-width: 1024px){
            padding: 0 3rem;
        }
        @media (max-width: 600px){
            padding: unset;
        }
        // background: #FFFFFF;
        // box-shadow: 0 0.25rem 2.125rem rgba(0, 0, 0, 0.05);
        // border-radius: 0.625rem;
        h3{
            color: #1E1E1E;
            font-weight: 400;
            font-size: 2.188rem;
            text-align: center;
            margin-top: 3.625rem;
            margin-bottom: 2.425rem;
            @media (max-width: 500px){
                font-size: 1.5rem;
                margin-top: 1.5rem;
                margin-bottom: 1.425rem;
            }
        }
        &__contents{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 0.25rem 2.125rem rgba(0, 0, 0, 0.05);
            border-radius: 0.625rem;
            max-width: 34.938rem;
            padding: 1.625rem 0 2.5rem;
            margin-bottom: 9.313rem;
            @media (max-width: 1024px){
                padding-left: 3rem;
                padding-right: 3rem;
            }
            @media (max-width: 600px){
                margin-left: 3rem;
                margin-right: 3rem;
            }
            @media (max-width: 500px){
                margin-bottom: 2.25rem;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            &__image{
                padding-bottom: 0.125rem;
                @media (max-width: 500px){
                    width: 6.25rem;
                    height: 6.25rem;
                }
            }
            h4{
                font-weight: 400;
                color: #1E1E1E;
                font-size: 2.188rem;
                line-height: 2.813rem;
                letter-spacing: -0.04em;
                text-align: center;
                padding-bottom: 0.875rem;
                @media (max-width: 600px){
                    font-size: 1.588rem;
                    line-height: 1.813rem;
                }
                @media (max-width: 500px){
                    font-size: 1.5rem;
                    padding-bottom: 1.5rem;
                }
            }
            h2{
                font-family: 'Lexend';
                font-weight: 400;
                font-size: 1.063rem;
                margin-bottom: 1.75rem;
                line-height: 1.313rem;
                text-align: center;
                letter-spacing: -0.02em;
                color: #6E768A;
            }
            &__input-one{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #FFFFFF;
                border: 0.063rem solid #DEDEDE;
                border-radius: 0.313rem;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                padding-top: 0.938rem;
                padding-left: 1.25rem;
                padding-right: 1.5rem;
                max-width: 28.688rem;
                width: 100%;
                @media (max-width: 500px){
                    padding-top: 0.5rem;
                    padding-left: 0.8rem;
                    padding-bottom: 0.8rem;
                }
                h5{
                    font-family: 'Lexend';
                    font-weight: 400;
                    font-size: 0.813rem;
                    line-height: 1rem;
                    outline: none;
                    border: 2px solid white;
                    letter-spacing: -0.02em;
                    color: #6E768A;
                    padding-bottom: 0.313rem;
                    @media (max-width: 500px){
                        font-size: 0.613rem;
                        line-height: unset;
                        padding-bottom: 0;
                    }
                }
                &__main{
                    font-family: 'Lexend';
                    font-weight: 400;
                    font-size: 1.063rem;
                    display: block;
                    outline: none;
                    border: 2px solid white;
                    line-height: 1.313rem;
                    letter-spacing: -0.02em;
                    color: #1E1E1E;
                    display: none;
                    @media (max-width: 500px){
                        line-height: unset;
                        font-size: 0.8rem;
                    }
                }
                &__main::placeholder{
                    color: black;
                }
                &__image{
                    @media (max-width: 500px){
                        width: 1rem;
                        height: 1.25rem;
                    }
                }
            }
            &__text-area{
                background: #FFFFFF;
                border: 0.063rem solid #DEDEDE;
                border-radius: 0.313rem;
                margin-bottom: 1.875rem;
                padding-bottom: 1rem;
                padding-top: 0.938rem;
                padding-left: 1.25rem;
                padding-right: 2rem;
                height: 12.438rem;
                max-width: 28.688rem;
                width: 100%;
                @media (max-width: 500px){
                    padding-bottom: 0.5rem;
                    padding-top: 0.5rem;
                    padding-left: 0.8rem;
                    height: 8.438rem;
                    padding-right: 1rem;
                }
                h5{
                    font-family: 'Lexend';
                    font-weight: 400;
                    font-size: 0.813rem;
                    line-height: 1rem;
                    outline: none;
                    border: 2px solid white;
                    letter-spacing: -0.02em;
                    color: #6E768A;
                    padding-bottom: 0.313rem;
                    @media (max-width: 500px){
                        font-size: 0.613rem;
                        line-height: unset;
                        padding-bottom: 0;
                    }
                }
                &__item1{
                    font-family: 'Lexend';
                    font-weight: 400;
                    font-size: 1.063rem;
                    display: block;
                    outline: none;
                    border: 2px solid white;
                    line-height: 1.313rem;
                    letter-spacing: -0.02em;
                    color: #1E1E1E;
                    width: 100%;
                    height: 8.125rem;
                    @media (max-width: 500px){
                        line-height: unset;
                        font-size: 0.7rem;
                        height: 6.125rem;
                    }
                }
                &__item1::placeholder{
                    color: #6E768A;
                }
            }
            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 28.688rem;
                width: 100%;
                height: 4.313rem;
                color: white;
                margin-top: 0.688rem;
                background: #1E1E1E;
                border-radius: 0.313rem;
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 400;
                font-size: 1.063rem;
                line-height: 1.313rem;
                text-align: center;
                letter-spacing: -0.02em;
                cursor: pointer;
                margin-bottom: 1.25rem;
                @media (max-width: 500px){
                    height: 3rem;
                    margin-top: 0;
                    font-size: 0.8rem;
                }
            }
            &__info{
                max-width: 16.938rem;
                background: #DDFFE7;
                border-radius: 0.625rem;
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 400;
                font-size: 0.813rem;
                line-height: 1rem;
                letter-spacing: -0.02em;
                color: #22CA51;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.375rem;
                width: 100%;
                margin-right: 12rem;
                @media (max-width: 1024px){
                    margin-right: 6rem;
                }
                @media (max-width: 550px){
                    margin-right: 0;
                    max-width: unset;
                    width: 100%;
                }
                @media (max-width: 500px){
                    font-size: 0.613rem;
                }
            }
        }
    }
}
.tasks-page__container__contents__input-one:hover .tasks-page__container__contents__input-one__main{
    display: block;
}